@charset "UTF-8";
/* CSS Document */
*{

margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
	
}

#contenedor{
    margin-left:auto;
	margin-right:auto;
	width:900px;
	background-color:rgb(0, 0, 0);
    padding: 5px; 
    
}

/* Estilos de la cabecera */

header {
	border: 1px solid #ff6341;
	width:100%;
    height: 150px;
	background-color:#0048e8;
	overflow: hidden;
    position: relative;
    z-index: 3;
}

/* Estilos del texto de la cabecera */

header .textohead{
text-align: center;
color: yellow;
margin-top: 5%;
}

/* Estilos del logo de la cabecera */

header .logo{
        float: left;
        width: 150px;
            
}
        
 header .logo img{
        margin: 5px;
        width: 100px;
}
    
/* Estilos de Section en general */

section{
    
    border: 1px solid #ff6341;
    color:azure;
    width: 78%;
    text-align: center;
    float: right;
    height: 1300px;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;

}
h1{
    color:yellow;

}
h4{
    text-decoration: ;
    text-align: ;
}
/* Estilos Section de HOME */

#cucuApple{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}    

.texto1 {
    float: left;
    width: 35%;
    margin:10px auto;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    }
.texto2 {
    float: right;
    width: 35%;
    margin:10px auto;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 20px;

    }

.flecha{
    width: 80%;
}



/* Estilos de Aside */

aside{
    border: 1px solid #ff6341;
    margin-right: 5px;
    width: 20%;
    float: left;
    height: 1300px;
    margin-bottom: 5px;
    background: linear-gradient(50deg, red , blue, green);
    background: webkit-linear-gradient(50deg, red , blue, green);
    text-align: center;
   
}

/* Estilos de imágenes de aside */

aside img{
    border-radius: 25px;
    position: relative;
    margin-top: 40%;
    margin-bottom: 20px;
    width: 95%;
  
}

/* Estilos de imágenes de aside al pasar el curosr por encima */

aside img:hover, a:focus {
    cursor:pointer;
}

/* Estilos de Footer */

footer {
    clear: both;
    width: 100%;
    height: 150px;
    background-color: yellow;
    
}

/* Estilos del logo de Footer */

.logo-footer{
    width: 100px;
    
}

/* Estilos del texto de Footer */

.contenido-footer{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sociales li{
    margin: 0 10px;
}

.sociales a{
    text-decoration: none;
    color: black;
}

.sociales a{
    font-size: 1.1rem;
    transition: color .3s ease;
}

.sociales a:hover i{
    color: green;
}


/* Menú alargado en nav */

#menu1{
    width: 100%;
    z-index: 2;
    position: relative;
       
}

#menu1 ul{
    list-style: none;
    
}

#menu1 ul li{
    
    float: left;
    width: 20%;
    text-align: center;
}

#menu1 ul li a{
    
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    color: white;
    background: #000000;
    text-decoration: none;

    
}
#menu1 ul li a:hover{
    background-color: #ff6341;
    
}

/* Menu flotante desplegable, escondido en header */

#menu ul {
    position: fixed;
    list-style:none;
    margin-left: 15px;
    padding:0;
    z-index: 1;
    }

/* enlaces del menu flotante */

    #menu ul a {
    display:block;
    color:#ffffff;
    background-color:#ffffff00;
    text-decoration:none;
    font-size:15px;
    padding:10px;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing:1px;
    }

/* efecto al pasar el ratón por los items del menu flotante */

    #menu ul li:hover {
    background:#ff6341;
    color: #ffffff;
   
    }

/* Menu desplegable */

    #menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:rgba(255, 255, 255, 0);
    color:#ffffff;
    padding:0;
    }

/* items del menu desplegable */

    #menu ul ul li {
    float:none;
    width:150px
    }

/* enlaces de los items del menu desplegable */

    #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
    }

/* items del menu desplegable al pasar el ratón */

    #menu ul li:hover > ul {
    display:block;
    }
         
/*----------------------------------------------------------------------------------------------------------------------
STYLE DE FORMULARIO*/

/* Clase de "section" creada, para no alterar original*/
.section_formulario{
    border: 0px solid #903;
    color:rgb(0, 0, 0);
    text-align: left;
    width: 670px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: auto;
}
    
input[type=text], select, textarea {
    font-size: 12px;  /* Tamaño de fuente */
    width: 100%; /* Tamaño completo */
    padding: 5px; /* Padding */ 
    box-sizing: border-box; /* Para asegurar que el padding y ancho esten en sus sitio */
    margin-top: 5px; /* Margen en la parte de arriba */
    margin-bottom: 12px; /* Margen en la parte de abajo */
    resize: vertical /* Para ajustar el tamaño (solo en vertical) de "textarea" */
}
      
    /* Style de boton "Enviar" */
input[type=submit] {
    background-color: #903; /* Color de fondo del boton */
    color: white; /* Color de fuente */
    padding: 12px 20px; /* Padding boton */
    border: none; /* Sin borde */
    border-radius: 4px; /* Redondear bordes */
    cursor: pointer; /* El cursor actua como "apuntador" (pointer), indica un enlace */
}
      
    /* Style de hover sobre boton "Enviar" (cuando mueves el raton sobre el boton, cambia un color más oscuro */
input[type=submit]:hover {
    background-color: rgb(89, 1, 30);
}
      
    /* Add a background color and some padding around the form */
.contenedor_formulario {
    margin-top: 10px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #f2f2f2; /* Color de fondo del contenedor del formulario */
    padding: 12px;
}

    /* Style de "textarea" (zona de texto) */
.textareaclass {
    height:115px; /* Tamaño vertical */
}

    /* Style de "label" (etiqueta) */
.label{
    font-size: 15px;
}
/* FIN - STYLE DE FORMULARIO
--------------------------------------------------------------------------------------------------------------------*/

/* Style de "Terminos de uso*/

#terminos section { /* id unico para el body de terminos*/
    height: auto; /* para ajustar el contenido de texto en la section */
    color: white;
    font-size: 11px;
}

/*Sección Servicios*/


/* Seccion Noticias*/
.section_noticias{

    color: white;
    border: 1px solid #903;
    width: 76%;
    float: right;
    height: 2000px;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    
}
/*formato imagenes noticias"*/
.imgnoticias{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float:top;
    max-width:250px;
}
/*SECCIÓN QUIENES SOMOS:*/

/*Formato para las imágenes del subapartado equipo*/
/*Imágenes alineadas a la izquierda:*/
.quienes1
    {   float: left; 
        border-radius: 100px;
        position:relative;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left:20px;
        width: 100px;
        height: 100px;
        padding: 10px;}
    

/*Imágenes alineadas a la derecha:*/
    .quienes2
     {  float: right; 
        border-radius: 100px;
        position:relative;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left:0px;
        margin-right:20px;
        width: 100px;
        height: 100px;
        padding: 10px;}
/*Formato para los títulos de cada miembro del equipo*/
/*Títulos a la izquierda*/
    .quienes_titulo1{
        vertical-align: top;
        height: 30px;
        margin-left:100px;
        margin-right:100px;
        text-align: left;

    }
    /*Títulos a la derecha:*/
    .quienes_titulo2{
        vertical-align: top;
        height: 30px;
        margin-left:100px;
        margin-right:100px;
        text-align: right;

    }
/*Formato para los textos que describen a cada miembro*/
/*Alineado a la izq:*/
    .quienes_texto1
     { 
        vertical-align: top;
        height: 80px;
        margin-left:100px;
        margin-right:140px;
        text-align: justify;

        }
/*Alineado a la derecha*/
    .quienes_texto2
    { 
        vertical-align: top;
        height: 80px;
        margin-left:140px;
        margin-right:100px;
        text-align: justify;

    }
/* Adaptación responsive ancho variable para monitores de más de 1300px */

@media screen and (min-width: 1300px){

    #contenedor {
        width: 70%;
        float: none;
    }

    section {
        width: 76%;
        height: auto;

    }
    article{
        width:auto; 
    }
    aside {
        width: 20%;
        height: auto;
    }
    header {
        height: auto;

    }

    header .logo{
        float: left;
        width: 40%;
            
    }
        
    header .logo img{
        margin: 5px;
        width: 70%;
    }  
    .section_formulario{
        width:76%; 
    }
    body{
        background-color: #000000;
    }
} 

/* Adaptación responsive ancho fijo para monitores de 900 a 1300px */

@media screen and (min-width: 900px) and (max-width: 1300px){

    #contenedor {
            width: 900px;
             
        }

    aside {
            width: 20%;
            height: auto;
        }

    section {
            width: 76%;
            height: auto;
    
        }
    article{
            width:auto; 
            font-size: auto;
        }
        
    header {
            height: auto;
    
        }
    
    header .logo{
            float: left;
            width: 40%;
                
        }
            
    header .logo img{
            margin: 5px;
            width: 70%;
        }  
    
    .section_formulario{
        width:74%; 
    }
    body{
        background-color: #0c5bd1;
    }
}

/* Adaptación responsive Ipad posición horizontal */

@media screen and (max-width: 1024px){

    #contenedor {
        width: 90%;
        float: none;
    }

    aside {
        width: 18%;
        font-size: 80%;
    }
    header {
        height: auto;

    }

    header .logo{
        float: left;
        width: 40%;
            
    }
        
    header .logo img{
        margin: 5px;
        width: 70%;
    }  

    .section_formulario{
    width:74%; 
    }

    body{
        background-color: #720cd1;
    }

}

/* Adaptación responsive Ipad posición vertical, Iphone horizontal */

@media screen and (max-width: 768px){

    #contenedor {
        width: 100%;
        float: none;
    }

    section {
        width: 85%;
    }
    header {
        height: auto;

    }

    aside {
        width: 10%;
        
    }


    article{
        width:auto; 
                  
    }

    body{
        background-color: #b3660f;
    }
    .section_formulario{
        width:80%; 
    }
    
}

/* Adaptación responsive Iphone en vertical */

@media screen and (max-width: 480px) {
    header {
        height: auto;
    }
    aside {
        display: none;
    }
    section {
        width: 100%;
    }
    .section_formulario{
        width:95%; 
    }
    body{
        background-color: #b30f0f;
    }
}